@media screen and (min-width: 900px) {
    div#Container {
        height: 100%;
        text-align: center;
        position: relative;
    }
    
    div#Main {
        position: absolute;
        top: 50%;
        margin-top: -204px;
        left: 50%;
        margin-left: -235px;
        z-index: 2;
    
        /* display: none; */
    }
    
    input#yuMing {
        background-color: none;
        border: none;
        height: 40px;
        display: inline-block;
        font-size: 22px;
        width: 400px;
        padding: 4px 10px;
        outline: none;
        border: 1px solid #eeeeee;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    
    button#souSuo {
        background: none;
        border: none;
        display: inline-block;
        width: 50px;
        height: 50px;
    
        position: absolute;
        top: 50%;
        margin-top: -25px;
        background-color: #eeeeee;
    
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    
        transition: all 100ms linear;
    }
    button#souSuo:hover {
        background-color: #dddddd;
    
        transition: all 100ms linear;
    }
    
    span#xieYi {
        background-color: #ff7777;
        color: #ffffff;
        padding: 2px 4px;
        position: absolute;
        top: 50%;
        margin-top: -230px;
        left: 50%;
        margin-left: -200px;
        cursor: pointer;
        user-select: none;
        width: 3em;
    
        /* display: none; */
    }
    
    div#shuJuMain {
        width: 100%;
        height: 100%;
        display: inline-block;
        background-color: #000000;
    }
    div#shuJuMainDiv {
        margin-top: 30%;
    }
    div#shuJuMainDiv span {
        color: #ffffff;
        cursor: pointer;
        padding: 4px 8px;
        display: inline-block;
        
        transition: all 100ms linear;
    }
    div#shuJuMainDiv span:hover {
        background-color: #575757;
        
        transition: all 100ms linear;
    }
    
    span#zhuangTai {
        color: #ffc4c4 !important;
    }
    span#Ip {
        color: #ffc4c4 !important;
    }
    span#guoJia {
        color: #ffc4c4 !important;
    }
    span#guoJiaSuoXie {
        color: #ffc4c4 !important;
    }
    span#shengFen {
        color: #ffc4c4 !important;
    }
    span#chengShi {
        color: #ffc4c4 !important;
    }

    /* 底部版权 */
    footer#Footer {
        color: #ffffff;
        background-color: #000000;
        padding-bottom: 20px;
    }

    footer#Footer a {
        color: #ffffff;
    }
}

@media screen and (max-width: 900px) {
    div#shuJuMain {

    }

    div#Main {
        width: 100%;
        display: inline-block;
    }
    
    input#yuMing {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        margin-top: 5%;
        display: inline-block;
        font-size: 20px;
        text-align: center;
        background-color: #eeeeee;
        height: 2.5em;
    }
    
    button#souSuo {
        display: none;
    }
    button#souSuo:hover {
        
    }

    input#souSuoShouJi {
        background: none;
        border: none;
        font-size: 22px;
        display: inline-block;
        width: 100%;
        margin: 4px 0;
    }
    
    span#xieYi {
        display: none;
    }
    
    div#shuJuMain {
        
    }
    div#shuJuMainDiv {
        margin: 10px;
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
    }
    div#shuJuMainDiv span {
        transition: all 100ms linear;
    }
    div#shuJuMainDiv span:hover {
        background-color: #3a3a3a;
        transition: all 100ms linear;
    }
    
    span#zhuangTai {
        
    }
    span#Ip {
        
    }
    span#guoJia {
        
    }
    span#guoJiaSuoXie {
        
    }
    span#shengFen {
        
    }
    span#chengShi {
        
    }

    /* 底部版权 */
    footer#Footer {
        color: #353535;
        display: block;
        text-align: center;
    }

    footer#Footer a {
        color: #ffa1a1;
    }
}
